<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>Top Menu Style - Ace Admin</title>

	<meta name="description" content="top menu &amp; navigation" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="../../assets/assets/css/bootstrap.css" />
	<link rel="stylesheet" href="../../assets/assets/css/font-awesome.css" />


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- page specific plugin styles -->

	<!-- text fonts -->
	<link rel="stylesheet" href="../../assets/assets/css/ace-fonts.css" />

	<!-- ace styles -->
	<link rel="stylesheet" href="../../assets/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

	<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../assets/assets/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

	<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../../assets/assets/css/ace-ie.css" />
		<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->
	<script src="../../assets/assets/js/ace-extra.js"></script>

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
		<script src="../../assets/assets/js/html5shiv.js"></script>
		<script src="../../assets/assets/js/respond.js"></script>
		<![endif]-->
</head>

<body class="no-skin">
	<!-- #section:basics/navbar.layout -->
	<div id="navbar" class="navbar navbar-default navbar-collapse h-navbar">
		<script type="text/javascript">
			try {
				ace.settings.check('navbar', 'fixed')
			} catch (e) {}
		</script>

		<div class="navbar-container" id="navbar-container">
			<div class="navbar-header pull-left">
				<!-- #section:basics/navbar.layout.brand -->
				<a href="#" class="navbar-brand">
					<small>
						<i class="fa fa-leaf"></i>
						LOGO
					</small>
				</a>
				<!-- #section:basics/navbar.toggle -->
				<button class="pull-right navbar-toggle navbar-toggle-img collapsed" type="button" data-toggle="collapse" data-target=".navbar-buttons,.navbar-menu">
					<span class="sr-only">Toggle user menu</span>

					<img src="../../assets/assets/avatars/user.jpg" alt="Jason's Photo" />
				</button>

				<button class="pull-right navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

			</div>

			<!-- #section:basics/navbar.dropdown -->
			<div class="navbar-buttons navbar-header pull-right  collapse navbar-collapse" role="navigation">
				<ul class="nav ace-nav">
					<!-- #section:basics/navbar.user_menu -->
					<li class="light-blue user-min">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<img class="nav-user-photo" src="../../assets/assets/avatars/user.jpg" alt="Jason's Photo" />
							<span class="user-info">
								<small>Welcome,</small>
								Jason
							</span>

							<i class="ace-icon fa fa-caret-down"></i>
						</a>

						<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="#">
									<i class="ace-icon fa fa-cog"></i>
									Settings
								</a>
							</li>

							<li>
								<a href="profile.html">
									<i class="ace-icon fa fa-user"></i>
									Profile
								</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="#">
									<i class="ace-icon fa fa-power-off"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>

					<!-- /section:basics/navbar.user_menu -->
				</ul>
			</div>

		</div>
	</div>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {}
		</script>

		<!-- #section:basics/sidebar.horizontal -->
		<div id="sidebar" class="sidebar      h-sidebar                navbar-collapse collapse">
			<script type="text/javascript">
				try {
					ace.settings.check('sidebar', 'fixed')
				} catch (e) {}
			</script>


			<ul class="nav nav-list">
					<li class="  hover">
					<a href="home.html">
						<i class="menu-icon fa fa-home"></i>
						<span class="menu-text"> Home </span>
					</a>
				</li>

				<li class="  hover">
					<a href="hal_barang.html">
						<i class="menu-icon fa fa-inbox"></i>
						<span class="menu-text"> Barang </span>
					</a>
				</li>

				<li class="  hover">
					<a href="hal_pelanggan.html">
						<i class="menu-icon fa fa-users"></i>
						<span class="menu-text">
							Pelanggan
						</span>
					</a>
				</li>

				<li class="hover">
					<a href="hal_sales.html">
						<i class="menu-icon fa fa-user"></i>
						<span class="menu-text">
							Sales
						</span>
					</a>
				</li>

				<li class="hover">
					<a href="hal_penjualan.html">
						<i class=" menu-icon fa fa-bar-chart"></i>
						<span class="menu-text">
							Penjualan
						</span>
					</a>
				</li>

				<li class="active hover">
					<a href="hal_pembelian.html">
						<i class="menu-icon fa fa-pie-chart"></i>
						<span class="menu-text">
							Pembelian
						</span>
					</a>
				</li>
				<li class="hover">
					<a href="laporan_penjualan.html">
						<i class="menu-icon fa fa-cart-plus"></i>
						<span class="menu-text">
							Lap. Jual
						</span>
					</a>
				</li>
				<li class="hover">
					<a href="laporan_pembelian.html">
						<i class="menu-icon fa fa-cart-arrow-down"></i>
						<span class="menu-text">
							Lap. Beli
						</span>
					</a>
				</li>
				<li class="hover">
					<a href="pengaturan.html">
						<i class="menu-icon fa fa-cog"></i>
						<span class="menu-text">
							Pengaturan
						</span>
					</a>
				</li>
                    

					
				</ul><!-- /.nav-list -->

			<!-- #section:basics/sidebar.layout.minimize -->

			<!-- /section:basics/sidebar.layout.minimize -->
			<script type="text/javascript">
				try {
					ace.settings.check('sidebar', 'collapsed')
				} catch (e) {}
			</script>
		</div>

		<!-- /section:basics/sidebar.horizontal -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">

					<!-- /section:settings.box -->
					<div class="page-header">
						<h1>
							Pembelian

						</h1>
					</div><!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->

							<button type="button" data-toggle="modal" data-target="#tampilPembelian" class="btn btn-success"><i class="fa fa-print"> Pembelian</i></button>

							<div class="modal fade" id="tampilPembelian" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Faktur</h5>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-xs-12">
													<form>
														<div class="col-md-3">
															<label for="form-field-9">No Faktur Lama</label>
															<button type="button" data-toggle="modal" data-target="#tampilFaktur" class="btn btn-success"><i class="fa fa-search"></i>  Cari No Faktur Lama</i></button>
														</div>
														<div class="col-md-3 ">
															<label for="form-field-9">Transaksi Terdahulu</label>
															<input type="text" class="form-control">
														</div>
														<div class="col-md-6">
															<div class="form-group row">
																<label for="inputPassword" class="col-sm-4 col-form-label">Faktur</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" id="inputPassword" placeholder="">
																</div>
															</div>
															<div class="form-group row">
																<label for="inputPassword" class="col-sm-4 col-form-label">Tanggal</label>
																<div class="col-sm-8">
																	<input type="date" class="form-control" id="inputPassword" placeholder="">
																</div>
															</div>
															<div class="form-group row">
																<label for="inputPassword" class="col-sm-4 col-form-label">Kode Penjualan</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" id="inputPassword" placeholder="">
																</div>
															</div>
															<div class="form-group row">
																<label for="inputPassword" class="col-sm-4 col-form-label">Nama Penjualan</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" id="inputPassword" placeholder="">
																</div>
															</div>
															<div class="form-group row">
																<label for="inputPassword" class="col-sm-4 col-form-label">Alamat Penjualan</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" id="inputPassword" placeholder="">
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<table id="simple-table" class="table table-striped table-bordered table-hover">
														<thead>
															<tr>
																<th>Kode</th>
																<th>Uraian Barang</th>
																<th>Berat</th>
																<th>Kadar</th>
																<th>Harga Lama</th>
																<th>Kondisi</th>
																<th>Ongkos</th>
																<th>Pot</th>
																<th>Harga Beli</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>
																	<a href="#">ace.com</a>
																</td>
																<td>$45</td>
																<td class="hidden-480">3,330</td>
																<td>10%</td>
																<td>Feb 12</td>
																<td class="hidden-480">
																	<span class="label label-sm label-warning">Expiring</span>
																</td>
																<td>Feb 12</td>
																<td>Feb 12</td>
																<td>Feb 12</td>
														</tbody>
														</td>
														</tr>
													</table>
												</div>
											</div>
											<form>
												<div class="col-md-3">
												</div>
												<div class="col-md-3">
												</div>
												<div class="col-md-6">
													<div class="form-group row">
														<div class="form-group row">
															<div class="col-sm-1">
														</div>
															<label for="inputPassword" class="col-sm-3 col-form-label">Subtotal</label>
															<div class="col-sm-8">
																<input type="text" class="form-control" id="inputPassword" placeholder="">
															</div>
														</div>
														<div class="form-group row">
															<div class="col-sm-1">
														</div>
															<label for="inputPassword" class="col-sm-3 col-form-label">GrandTotal</label>
															<div class="col-sm-8">
																<input type="text" class="form-control" id="inputPassword" placeholder="">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputPassword" class="col-sm-2 col-form-label">Terbilang</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" id="inputPassword" placeholder="">
														</div>
														</div>
													</div>
												</div>
											</form>
											<button type="button" class="btn btn-primary ">Simpan</button>
										</div>
									</div>
								</div>


								<div class="modal fade" id="tampilFaktur" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Faktur</h5>
											</div>
											<div class="modal-body">
												<div class="row">
													<div class="col-xs-12">
														<table id="simple-table" class="table table-striped table-bordered table-hover">
															<thead>
																<tr>
																	<th>No</th>
																	<th>Faktur</th>
																	<th>Tanggal</th>
																	<th>Pelanggan</th>
																	<th>Grand Total</th>
																	<th>Status</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>
																		<a href="#">ace.com</a>
																	</td>
																	<td>$45</td>
																	<td class="hidden-480">3,330</td>
																	<td>10%</td>
																	<td>Feb 12</td>
																	<td class="hidden-480">
																		<span class="label label-sm label-warning">Expiring</span>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary">Pilih</button>
											</div>
										</div>
									</div>
								</div>
							</div>








							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner">
				<!-- #section:basics/footer -->
				<div class="footer-content">
					<span class="bigger-120">
						<span class="blue bolder">Ace</span>
						Application &copy; 2013-2014
					</span>


				</div>

				<!-- /section:basics/footer -->
			</div>
		</div>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery || document.write("<script src='../../assets/assets/js/jquery.js'>" + "<" + "/script>");
	</script>

	<!-- <![endif]-->

	<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../../assets/assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement) document.write("<script src='../../assets/assets/js/jquery.mobile.custom.js'>" + "<" + "/script>");
	</script>
	<script src="../../assets/assets/js/bootstrap.js"></script>

	<!-- page specific plugin scripts -->

	<!-- ace scripts -->
	<script src="../../assets/assets/js/ace/elements.scroller.js"></script>
	<script src="../../assets/assets/js/ace/elements.colorpicker.js"></script>
	<script src="../../assets/assets/js/ace/elements.fileinput.js"></script>
	<script src="../../assets/assets/js/ace/elements.typeahead.js"></script>
	<script src="../../assets/assets/js/ace/elements.wysiwyg.js"></script>
	<script src="../../assets/assets/js/ace/elements.spinner.js"></script>
	<script src="../../assets/assets/js/ace/elements.treeview.js"></script>
	<script src="../../assets/assets/js/ace/elements.wizard.js"></script>
	<script src="../../assets/assets/js/ace/elements.aside.js"></script>
	<script src="../../assets/assets/js/ace/ace.js"></script>
	<script src="../../assets/assets/js/ace/ace.ajax-content.js"></script>
	<script src="../../assets/assets/js/ace/ace.touch-drag.js"></script>
	<script src="../../assets/assets/js/ace/ace.sidebar.js"></script>
	<script src="../../assets/assets/js/ace/ace.sidebar-scroll-1.js"></script>
	<script src="../../assets/assets/js/ace/ace.submenu-hover.js"></script>
	<script src="../../assets/assets/js/ace/ace.widget-box.js"></script>
	<script src="../../assets/assets/js/ace/ace.settings.js"></script>
	<script src="../../assets/assets/js/ace/ace.settings-rtl.js"></script>
	<script src="../../assets/assets/js/ace/ace.settings-skin.js"></script>
	<script src="../../assets/assets/js/ace/ace.widget-on-reload.js"></script>
	<script src="../../assets/assets/js/ace/ace.searchbox-autocomplete.js"></script>

	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		jQuery(function($) {
			var $sidebar = $('.sidebar').eq(0);
			if (!$sidebar.hasClass('h-sidebar')) return;

			$(document).on('settings.ace.top_menu', function(ev, event_name, fixed) {
				if (event_name !== 'sidebar_fixed') return;

				var sidebar = $sidebar.get(0);
				var $window = $(window);

				//return if sidebar is not fixed or in mobile view mode
				var sidebar_vars = $sidebar.ace_sidebar('vars');
				if (!fixed || (sidebar_vars['mobile_view'] || sidebar_vars['collapsible'])) {
					$sidebar.removeClass('lower-highlight');
					//restore original, default marginTop
					sidebar.style.marginTop = '';

					$window.off('scroll.ace.top_menu')
					return;
				}


				var done = false;
				$window.on('scroll.ace.top_menu', function(e) {

					var scroll = $window.scrollTop();
					scroll = parseInt(scroll / 4); //move the menu up 1px for every 4px of document scrolling
					if (scroll > 17) scroll = 17;


					if (scroll > 16) {
						if (!done) {
							$sidebar.addClass('lower-highlight');
							done = true;
						}
					} else {
						if (done) {
							$sidebar.removeClass('lower-highlight');
							done = false;
						}
					}

					sidebar.style['marginTop'] = (17 - scroll) + 'px';
				}).triggerHandler('scroll.ace.top_menu');

			}).triggerHandler('settings.ace.top_menu', ['sidebar_fixed', $sidebar.hasClass('sidebar-fixed')]);

			$(window).on('resize.ace.top_menu', function() {
				$(document).triggerHandler('settings.ace.top_menu', ['sidebar_fixed', $sidebar.hasClass('sidebar-fixed')]);
			});


		});
	</script>

	<!-- the following scripts are used in demo only for onpage help and you don't need them -->
	<link rel="stylesheet" href="../../assets/assets/css/ace.onpage-help.css" />
	<link rel="stylesheet" href="../../assets/docs/assets/js/themes/sunburst.css" />

	<script type="text/javascript">
		ace.vars['base'] = '..';
	</script>
	<script src="../../assets/assets/js/ace/elements.onpage-help.js"></script>
	<script src="../../assets/assets/js/ace/ace.onpage-help.js"></script>
	<script src="../../assets/docs/assets/js/rainbow.js"></script>
	<script src="../../assets/docs/assets/js/language/generic.js"></script>
	<script src="../../assets/docs/assets/js/language/html.js"></script>
	<script src="../../assets/docs/assets/js/language/css.js"></script>
	<script src="../../assets/docs/assets/js/language/javascript.js"></script>
</body>

</html>